.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}
.header-container p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 15px;
    margin-right: 40px;
    color: #333;
}
.enemy-container img,
.header-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.game-container{
    display: flex;
    justify-content: space-around;
}
.player-side-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}
.player-specified{
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}
.player-specified img{
    max-width: 60px;
    height: 60px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.btn-container{
    height: 100px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

