.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}
.header-container p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 15px;
    margin-right: 40px;
    color: #333;
}
.enemy-container img,
.header-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.game-container{
    align-self: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto; /* Üst ve alt boşluk ekler */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.player-side-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}
.player-specified{
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-specified img{
    max-width: 60px;
    height: 60px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.btn-container{
    gap: 10px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.play-game-container{
    gap: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

